:root {
    --main-color: #0D7377;
    --highlight-color: #0F4C75;
    --footer-bg: #94F3E4;
    --header-bg: #F0F0F0;
    --body-bg: #FFFFFF;
    --icon-width: 6vw;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.glassback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 20;
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    z-index: -1;

    object-fit: cover;
}

.icon {
    position: relative;
    top: -10vh;
    left: -10vw;
    width: var(--icon-width);
    transform: translateX(100%);
    z-index: 50;
}


.overlay {
    position: relative;
    top: 6vh;
    left: 30vw;
    width: 50vw;
    transform: translate(-50%);
    z-index: 20;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: -2.2vw;
}

nav ul li {
    font-size: 1.2vw;
    font-weight: 750;
    font-family: "Inter", sans-serif;
}

nav ul a {
    text-decoration: none;
    color: var(--main-color);
    padding: 1vh 2vw;
    transition: all 0.1s;
}

nav ul a:hover,
.current-page {
    border-bottom: solid var(--main-color) 5px;
}

.text {
    font-family: "Cactus Classical Serif", serif;
    color: var(--body-bg);
    padding: 1vw;
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons button {
    margin: 8vh 5vw;
    width: 20vw;
}

.catalogue-btn {
    background-color: var(--main-color);
    color: var(--body-bg);
    border: none;
    padding: 1.8vh 2vw;
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.catalogue-btn:hover {
    background-color: #004e47;
}

.catalogue-btn a {
    font-family: "Inter", sans-serif;
    font-size: 1.5vw;
    color: inherit;
    text-decoration: none;
}

main {
    flex: 1 0 auto;
    width: 100vw;
    padding-top: 5vh;
    background-color:var(--body-bg);
}

#catalogue_margin{
    margin-top: 2.59vh;
    padding-bottom: 7vh;
}

/* Styling for the card */
.section-head {
    padding-left: 1vw;
}
.section-head h2 {
    font-family: "Inter", sans-serif;
    font-size: 1.8vw;
    color: var(--main-color);
}
.section-head p {
    text-emphasis: none;
    font-family: "Cactus Classical Serif";
    font-weight: 500;
    font-size: 1vw;
    color: #000000;
}


.card {
    width: 300px;
    /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card:hover {
    transform: translateY(-1vh);
    transition: ease 0.2s;
    border: 0.2vw solid #0D7377;
}

/* Full-width image on the top of the card */
.card-image {
    width: 100%;
    height: 200px;
    /* Adjust height as needed */
    object-fit: cover;
    /* Ensures the image fills the space without distortion */
    display: block;
}

/* Text positioned at the bottom left */
.card-text {
    font-family: "Inter", sans-serif;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent background for readability */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.card-text h2,
.card-text p {
    margin: 0;
    padding: 2px 1vw;
    word-wrap: break-word;
}

.card-text h2 {
    font-size: 1.2em;
    color: #333;
}

.card-text p {
    font-size: 0.9em;
    color: #666;
}
.card-text p b {
    color: #FFFFFF;
    background-color: #0D7377;
    padding: 0.1vw 0.2vw;
    border-radius: 0.2vw;
}


.display-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 2vw;


}


/* Footer Styling */
footer {
    margin: 0.1vh 0 0 0;
    background: linear-gradient(135deg, #000718, #003a6d, #94F3E4);
    color: rgb(7, 175, 187);
    padding: 1vh 0;
    text-align: center;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer:hover {
    background: linear-gradient(135deg, #003a6d, #000718, #94F3E4);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    /* transform: scale(1.02); */
}

.footercontainer {
    max-width: 100vw;
    margin: auto;
    padding: 20px;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.socialIcons a {
    display: inline-block;
    margin: 0 1.2vw;
    font-size: 2.5em;
    color: inherit;
    /* Uses default icon colors */
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: #FFFFFF;
}

.footerNav {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footerNav a {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.1em;
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.3s ease;

}


.footerNav a:hover {
    opacity: 1;
    color: rgb(7, 175, 187);

}

.footer-bottom {

    padding: 4vh 0;
    text-align: center;
}

.footer-bottom p {
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 700px) {
    .footerNav {
        flex-direction: column;
    }

    .footerNav a {
        margin: 10px 0;
    }
}

/* Made responsive */

#destinations_size{
    margin-top: 24vh;
    padding-bottom: 4vh;
}


.card {
    cursor: pointer;
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .modal {
    display: none;
    position:fixed;
    z-index: 21;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 80%;
    height: 60%;
    
  }
  .modal-content h2 {
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    color: #0D7377;
    padding: 1vw;
  }
  .modal-content p {
    font-family: "Cactus Classical Serif", serif;
    font-size: 1.4vw;
    line-height: 5vh;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #bookButton{
    background-color: var(--main-color);
    color: var(--body-bg);
    border: none;
    padding: 1.4vh 2vw;
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #bookButton a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  #modalDescription{
    margin: 0;
    padding: 2px 1vw;
    word-wrap: break-word;
  }